[package]
name = "cita-vm"
version = "0.2.1"
authors = ["Cryptape Technologies <contact@cryptape.com>"]
edition = "2018"
description = "CITA VM"
license = "Apache-2.0"
homepage = "https://github.com/cryptape/cita-vm"
documentation = "https://github.com/cryptape/cita-vm/blob/master/README.md"

[dependencies]
byteorder = "1.0"
bytes = "0.4"
cita_trie = "2.0"
ckb-vm =  { git = "https://github.com/nervosnetwork/ckb-vm" }
env_logger = "0.6"
ethereum-types = "0.4"
hashbrown = { version = "0.3", features = ["rayon"] }
hasher = { version="0.1", features = ["hash-keccak"] }
hex = "0.3"
libsecp256k1 = "0.2"
log = "0.4"
ripemd160 = "0.8"
rlp = "0.3"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
sha2 = "0.8"
sha3 = "0.8"
rayon = "1.0"

[dev-dependencies]
bencher = "0.1"

[[bench]]
name = "benchmark"
harness = false
